body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.color-code-generator{
    width: 200px;
}

#color-generate-button{
    width: 224px;
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

#color-code{
    width: 200px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}